<head>
    <link rel="stylesheet" type="text/css" href="~/css/bgimage.css" alt="resim yok">
</head>
    <div class="mb-3">
        <div class="container-fluid main-image">
           
            <div class="heading w-100 text-white">
                <span class="main-title" style="font-style: italic; font-family: Algerian">OKALİPTÜS KİTABEVİ</span>
                <span class="sub-title" style="font-style: italic;" >Dünyanın En büyük Kitap Pazarı</span>
            </div>

        </div>
    </div>

