
<div class="card mt-3">
    <div class="card-header">
        <div class="list-group-item list-group-item-action btn-lg text-center"  style="background-color: #f3f0ab">Arama</div>
    </div>
    <div class="card-body">
        <form action="/search">
                <div class="form-group">
                    <input name="q" type="text" class="form-control " placeholder="Arama">
                </div>
                <button type="submit" class="btn btn-sm btn-block" style="background-color: #f3f0ab">Ara</button>
        </form>
    </div>
</div>
